<extend name="Layout:layout"/>
 <block name="mws-container">
<div id="mws-container" class="clearfix">
            <div class="container">
                <div class="mws-panel grid_9 ">
                    <div class="mws-panel-header">
                        <span> 添加车辆</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <form class="mws-form" id="mws-validate" novalidate="novalidate" action="__CONTROLLER__/inser" method="post">
                            <div class="mws-form-inline">
                                <div class="mws-form-row bordered">
                                    <label class="mws-form-label">所属4s店</label>
                                    <div class="mws-form-item">
                                        <select name="shopid" class="required large">
                                             <option disabled selected>--请选择--</option>
                                            <foreach name="shop" item="shop">
                                            <option value="{$shop['id']}">{$shop['ofcity']}--{$shop['shopname']}</option>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>
                                 <div class="mws-form-row bordered">
                                    <label class="mws-form-label">服务车名称</label>
                                    <div class="mws-form-item">
                                         <input  name="carname" type="text" class="required large">
                                    </div>
                                </div>
                                <div class="mws-form-row bordered">
                                    <label class="mws-form-label">人员姓名</label>
                                    <div class="mws-form-item">
                                        <input  name="technicians" type="text" class="required large">
                                    </div>
                                </div>
                                
                            </div>
                            <div class="mws-button-row">
                                <button type="submit"class="btn btn-danger">提交</button>
                                <button type="reset"class="btn ">重置 </button>
                            </div>
                        </form>
                    </div>      
                </div>
            </div>
        </div>
 </block>