<extend name='Layout:layout'/>
<block name='mws-container'>
	<div id="mws-container" class="clearfix">
        
        	<!-- Inner Container Start -->
            <div class="container">
            

                
            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span>添加4S店</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                    	<form class="mws-form" action="__CONTROLLER__/save" method='post'>
                    		<div class="mws-form-inline">
                    			<div class="mws-form-row">
                    				<label class="mws-form-label">4S店：</label>
                    				<div class="mws-form-item">
                    					<input type="text" class="small" name='shopname'>
                    				</div>
                    			</div>
                    			<div class="mws-form-row">
                    				<label class="mws-form-label">所属城市：</label>
                    				<div class="mws-form-item">
                    					<select class="large" name='ofcity'>
                    						<foreach name='city' item='city'>
                    						<option value='{$city.city}'>{$city.city}</option>
                    						</foreach>
                    					</select>
                    				</div>
                    			</div>
                    		</div>
                    		<div class="mws-button-row">
                    			<input type="submit" value="添加" class="btn btn-danger">
                    			<input type="reset" value="重置" class="btn ">
                    		</div>
                    	</form>
                    </div>    	
                </div>
                
                <!-- Panels End -->
            </div>
        </div>
</block>