<extend name="Layout:layout"/>
<block name="main-content">
                <script src="__PUBLIC__/Admin/js/core/jquery.js"></script>
                <script src="__PUBLIC__/Admin/js/core/ajax.js"></script> 
                <script>
                    function user(id){    //user函数名 一定要和action中的第三个参数一致上面有
                 var id = id;
                    $.get('__APP__/Service/carList', {'p':id}, function(data){  //用get方法发送信息到UserAction中的user方法
                     $("#user").replaceWith("<tr id='user'>"+data+"</tr>"); //user一定要和tpl中的一致
                });
             }
                </script>                    
            	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span style='float:left'><i class="icon-table"></i> 服务管理 -> 品牌列表&nbsp;&nbsp;</span>
                        <form action='__APP__/Service/carList' method='post'>
                        <input style='width:150px;height:25px' type='text' name='search' id='search' placeholder='搜索' />
                        </form>
                     </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <thead>
                                <tr>
                                    <th>品牌</th>
                                    <th>车系</th>
									<th>车型</th>
									<th>操作</th>
                                </tr>
                            </thead>
							
                            <tbody>
                                  <foreach name='model' item='models'>

                                <tr id='user'>
                                    <td align='center' id='brand'>{$models.brands}</td>
                                    <td align='center' id='series'>{$models.series}</td>
                                    <td align='center' id='model'>{$models.model}</td>			
									<td align='center'>
										<a href="__APP__/Service/delModel/id/{$models.id}" onclick="return confirm('你确定要删除吗？')">删除车型</a>&nbsp;&nbsp;<a href="__APP__/Service/delSeries/sid/{$models.sid}" onclick="return confirm('您的操作将会删除该系列及该系列下面的所有车型')">删除车系</a>&nbsp;&nbsp;
										<a href="__APP__/Service/addBrand">添加</a></td>
								   
                                </tr>
                                </foreach>
                                </tbody>
                               <tbody>
                          <tr>
									<td style='background:#35353a;text-align:center' colspan='7'>{$show}</td>
								</tr>
							</tbody>
                        </table>
                    </div>
                </div>
</block>
