<extend name="Layout:layout"/>
<block name="main-content">     
            <div class="mws-panel grid_8">
                <div class="mws-panel-header">
                   <span><i class="icon-table"></i>服务列表
				   </span>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table">
                            <thead>
                                <tr>
                                    <th>品牌</th>
                                    <th>服务名称</th>
									<th>操作</th>
                                </tr>
                            </thead>
							<foreach name='combo' item='combos'>
                            <tbody>
                                <tr align='center'>
                                    <td>{$combos.brand}</td>
                                    <td>{$combos.combo}</td>
									<td>
										<a href="__APP__/Service/addService">添加服务</a>
                                        <a href="__APP__/Service/delService/id/{$combos.id}" onclick="return confirm('你确定要删除吗？')">删除服务</a>
									</td>
                                </tr>
                            </tbody>
							</foreach>
                        </table>
                    </div>
                </div>
</block>