<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>预定成功-{$config.webname}</title>
    <meta name="description" content="{$config.description}">
    <meta name="keywords" content="{$config.keywords}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <link rel="stylesheet" href="__PUBLIC__/home/css/complete.css">
</head>
<body>
  <div class="container success-page">
        <div class="content success-con">
        <h3 class="title">恭喜您，您的订单提交成功！</h3>
        <p class="next">您可以到个人中心中查看订单详情与进度</p>
        <ul class="bac">
          <li>
          <a href="__CONTROLLER__/index">返回首页</a>
          </li>
          <li>
          <a href="__APP__/personage/index">个人中心</a>
          </li>
        </ul>
        </div>
    </div>
</body>
</html>