<!DOCTYPE html>
<html>
<head>
<title>{$config.webname}</title>
  <meta name="description" content="{$config.description}">
  <meta name="keywords" content="{$config.keywords}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/bootstrap/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index2.css" media="screen">
	
</head>
<body>
   <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">宇瑞安网站正在维护中...</h1>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>{$config.copyright}</p>
            </div>
          </div>

        </div>

      </div>

    </div>
</body>
</html>