<extend name="Layout:layout" />
<block name="main-content">
	<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span>网站开启/关闭</span>
                    </div>
                    <div class="mws-panel-body no-padding">
                    	<form class="mws-form" action="__CONTROLLER__/dostatus" method="post">
                              <div class="mws-form-inline">
                    			<div class="mws-form-row">
                    				<label class="mws-form-label">网站开关</label>
                                        <div class="mws-form-row">
                                       
                                             <ul class="thumbnails mws-gallery" style="height:160px;">

                                             <li>
                                               
                                             <span class="thumbnail">

                                               <img src="__PUBLIC__/Admin/example/star.png" alt=""> 

                                             </span>
                                          

                                            <span style="position:relative;top:15px;">

                                               <input type="radio" name="status" value="0" style="margin-left:10%;">开启 

                                            </span>

                                           </li>

                                             <li></li> 

                                             <li> 

                                             <span class="thumbnail"><img src="__PUBLIC__/Admin/example/close.png" alt=""></span>
                                                <span style="position:relative;top:15px;"><input type="radio" name="status" value="1" style="margin-left:10%;";>关闭</span>
                                             
                                             </li>
                                            
                                              </ul>
                                            
                    			</div>
                    			
                    			<input type="hidden" name="id" value="1" />
                    			
                    		<div class="mws-button-row">
                    			<input type="submit" value="提交" class="btn btn-danger">

                    			<input type="reset" value="重置" class="btn ">
                    		</div>

                    	</form>
                    </div>    	
                </div>
                
            	

                

</block>