<extend name="Layout:layout" />
<block name="main-content">
<script src="__PUBLIC__/admin/js/jquery.js"></script>
<div class="wrapper">
    <div class="row">
        <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <a href="__CONTROLLER__/brandList">品牌列表</a>&nbsp;>>&nbsp;修改品牌
            </header>
            <div class="panel-body">
                <form action="__CONTROLLER__/updateBrand" class="form-horizontal adminex-form" id="myform" method="post">
                    <div class="col-sm-2"></div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">品牌</label>
                        <input type="hidden" name="id" value="{$brand[0]['id']}" />
                        <div class="col-sm-4">
                            <input type="text" id="brand" class="form-control" name="brand" value="{$brand[0]['brand']}" />
                        </div> 
                        <span class="col-sm-2 control-msg" id="bMsg"></span>
                    </div>
                    
                    <div class="col-sm-5"></div>
					<div class="col-sm-5 panel-body">
						<button type="submit" class="btn btn-primary">修改</button>
                    </div>
                   </form>
            </div>
		</section>

		</div>
    </div>
</div>
        <script type="text/javascript">

            var bLog = false;
            $('#brand').blur(function(){
                brandCheck();   
            });
            function brandCheck(){
                if($('#brand').val() == ''){
                    $('#bMsg').html('品牌不能为空！').css({color:'red'});
                    bLog = false;
                }else{
                    $('#bMsg').html('输入正确').css({color:'green'});
                    bLog = true;
                }
            }


            $('#myform').submit(function(){
                brandCheck();

                //如果判断不通过则不让提交
                if(bLog){
                    return true;
                }else{
                    return false;
                }

            });

        </script>
</block>