<extend name="Layout:layout"/>
 <block name="mws-container">
<div class="clearfix" id="mws-container">       
            <!-- Inner Container Start -->
            <div class="container">
                <!-- Panels Start -->               
                <div class="mws-panel grid_8">
                    <div class="mws-panel-header">
                        <span class="left block "><i class="icon-table "></i> 车型列表
                        </span>
                        
                        <div class="right btn block" style="margin-left:15px"><a class="block" href="__CONTROLLER__/add"><i class="icol-add  "></i> 增加车型</a>
                        </div>
                        
                        <div class="right block" >
                        <form action="__CONTROLLER__/index" method="get">
                            <label>
                                <input style="width:250px" type="text" placeholder="请输入(品牌|车系|车型)信息" name="model" aria-controls="DataTables_Table_1">
                                <input type="submit" class="btn" value="查询">
                            </label>
                        </form>
                    </div>
                    </div>
                    <div class="mws-panel-body no-padding">
                        <table class="mws-table" style="text-align:center">
                            <thead>
                                <tr> 
                                    <th>品牌</th>
                                    <th>车系</th>
                                    <th>车型</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="model" item="model">
                                     <tr>
                                        <td>{$model['brand'][brand]}</td>
                                        <td>{$model['series']['series']}</td>
                                        <td>{$model['model']}</td>
                                       
                                        <td>
                                        <a class="btn btn-small" href="__CONTROLLER__/edit/id/{$model['id']}"><i class="icon-pencil"></i></a>
                                        <a class="btn btn-small" href="__CONTROLLER__/del/id/{$model['id']}"><i class="icon-trash"></i></a>
                                        </td>
                                       
                                    </tr>
                                </foreach>
                                <tr>
                                    
                                    <td colspan="<if condition="(empty($_SESSION['status'])) AND ($_SESSION['status'] neq 1 ) ">4<else />3</if>">
                                        <div class="right">{$show}</div>
                                    </td>
                                
                                </tr>   
                            </tbody>
                        </table>
                        
                    </div>
                <!-- Panels End -->
            </div>
            <!-- Inner Container End -->         
        </div>
 </block>
